/*--------------------------------------------------------------*/
/* CSS Reset (Normalize) */
/*--------------------------------------------------------------*/

/*--------------------------------------------------------------*/
/* Resets */
/*--------------------------------------------------------------*/
* {
	margin: 0px;
	padding: 0px;
	border-collapse:collapse;
	font-family: Arial, Helvetica;
	font-weight:normal;
	font-size:1em;
	line-height: 1em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body{
	width:100%;
	height:100%;
}
a img{
	border:none;
}
ul{
	list-style-type:none;
}
input,
textarea,
select{
	background-color:#FFF;
	border:solid 1px #DDD;
	padding:3px;
	padding-left:7px;
}
thead input{
	background-color:#eee;
}
*,*:hover{
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;	
}
.admin_ancla{
	float: left;
	display: block;
	width:100%;
}
h5{
	font-size: 15px;
	float: left;
	width: 100%;
	line-height: 15px;
	text-align: left;
}
h3{
	font-size: 20px;
	display: inline-block;

}
h3 *{
	display: inline-block;
}
.fila{
	float: left;
	width: 100%;
	display: inline-block;
	text-align: center;
}
section{
	position: relative;
	width: 100%;
	display: inline-block;
}
.formulario form {
	max-width: 100%;
}
/*-------------------------------------------------------------- */
/* Custom colors */
/*-------------------------------------------------------------- */
#subir,
.titulo_seccion h1::after,
form .boton_formulario,
#btn_admin_menu,
#btn_admin_salir,
#menu ul,
#menu ul li a,
.accesos_destacados ul li a,
.btn_admin_anadir,
.btn_admin_atras,
.tabla_filtrable tfoot tr td a:hover,
.tabla_filtrable .btn_tabla_eliminar,
.tabla_filtrable .btn_admin_editar,
.tabla_filtrable .btn_admin_eliminar,
.item_actions .btn_admin_editar,
.item_actions .btn_admin_eliminar,
.item_actions .btn_tabla_eliminar{
	background-color: #F2AE51;
}
form .boton_formulario{
	border:solid 1px #F2AE51;
}
.titulo_seccion h1 strong{
    color: #F2AE51;
}
.login form .boton_formulario{
	background-color: #F2AE51 !important;
	color: #000 !important;
	font-size: 1em;
	display: inline-block;
}

.login form .boton_formulario:hover{
	background-color: #F2AE51 !important;
	color: #000 !important;
	font-size: 1em;
}
.formulario label * {
  margin: 0px 5px 0 0 !important;
  float: none;
}
/*-------------------------------------------------------------- */
/* Custom colors: HOVER */
/*-------------------------------------------------------------- */
#subir:hover,
form .boton_formulario:hover,
#btn_admin_menu:hover,
#btn_admin_salir:hover,
#menu ul li a:hover,
.accesos_destacados ul li a:hover,
.btn_admin_anadir:hover,
.btn_admin_atras:hover,
.tabla_filtrable .btn_admin_editar:hover,
.tabla_filtrable .btn_admin_eliminar:hover,
.tabla_filtrable .btn_tabla_eliminar:hover,
.item_actions .btn_admin_editar:hover,
.item_actions .btn_admin_eliminar:hover,
.item_actions .btn_tabla_eliminar:hover{
	background-color: #000;
}
form .boton_formulario:hover{
	border:solid 1px #000;
}


/*-------------------------------------------------------------- */
/* Subir */
/*-------------------------------------------------------------- */
#subir{
	position: fixed;
	bottom: 16px;
	left: 10px;
	height: 50px;
	width: 50px;
	border-radius:50%;
	z-index: 100;
	text-indent: -9999px;
	display: none;
	background-image:url("../imgs/btn-admin-subir.svg");
	background-repeat: no-repeat;
	background-position: top 15px center;
	background-size:30px;
}
.margen_footer{
	width:100%;
	float:left;
	height:35px;
}

/*-------------------------------------------------------------- */
/* Maqueta General*/
/*-------------------------------------------------------------- */
.container,
.content{
	width:100%;
}
.container{
	float:left;
}
.content{
	max-width:1180px;
	margin:auto;
	text-align:center;
}
@media screen and (max-width: 1179px) {
.content{
	padding:0 20px;
}
}


/*-------------------------------------------------------------- */
/* Header*/
/*-------------------------------------------------------------- */
#header{
	padding:0px 0px 0px 0;
		background-color:#000;
}
#header .cols{
	padding:15px 15px;
	border-bottom:solid 0px #CCC;
	height:auto;
	max-width: 1180px;
}
.header_acciones{
	margin-top: 8px;
}
.logo{
	width:auto;
	float:left;
	margin-left:0px;
	height:auto;
	position: relative;
}
@media screen and (max-width: 360px) {
.logo{
	max-width:180px;
}
}
.logo img{
	width:auto;
	height:60px;
	display:block;
	position: relative;
	z-index: 3;
}
#btn_admin_menu,
#btn_admin_salir{
	display:inline-block;
	width:40px;
	height:40px;
	border-radius:50%;
	text-indent:-5000px;
	font-size: 0px;
	float:right;
	background-repeat: no-repeat;
	background-position: center center;
	margin:4px;
}
#btn_admin_menu{
    background-image:url("../imgs/btn-admin-menu.svg");
    background-size:17px;	
}
#btn_admin_menu.cerrar{
    background-image:url("../imgs/btn-admin-menu-cerrar.svg");
    background-size:17px;	
}
#btn_admin_salir{
	background-image:url("../imgs/btn-admin-salir.svg");
	background-size:20px;
}

/*-------------------------------------------------------------- */
/* Menu*/
/*-------------------------------------------------------------- */
#menu{
    z-index: 100;
    display: none;
}
#menu .cols{
	padding: 0px;
}
#menu ul{
	width:100%;
	float:left;
	padding: 0px !important;
	list-style-type:  none !important;
}
#menu ul li{
	width:auto;
	float:left;
	position: relative;
	margin-bottom: 0px !important;
	border-right:solid 1px rgba(255,255,255,0.4);
}
#menu ul li.parent .separator{
	padding: 16px 5px 0 15px;
	height: 47px;
	float: left;
	width: 100%;
	color: #fff;
	position: relative;
	cursor: pointer;
	font-size: 17px  !important;
}
#menu ul li.parent .separator:hover{
	background-color: #000;
}
#menu ul li.parent .separator::after,
#menu ul li.parent .separador::after{
	content:"";
	width: 11px;
	height: 5px;
	background-image: url("../imgs/flechas_menu.png");
	background-position: left center;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 10px;
	z-index: 10;
}
#menu ul li.parent .separator.activo::after,
#menu ul li.parent .separador.activo::after{
	background-position: right center;
}
@media screen and (max-width: 979px){
#menu ul li.parent .separator,
#menu ul li.parent .separador{
	border-bottom: solid 0px rgba(255,255,255,0.4);
}
}
#menu ul li.parent ul{
	position: absolute;
	display: none;
	z-index: 2;
	top: 47px;
}
#menu ul li.parent.activa ul,
#menu ul li.parent ul.visible{
	display: block;
}
#menu ul li.parent,
#menu ul li.parent ul{
	width: 135px;
}
@media screen and (max-width: 979px){
#menu ul li.parent,
#menu ul li.parent ul{
	width: 100%;
	position: relative;
	top: 0px;
}
}
#menu ul li.parent ul li{
	width: 100%;
	float: left;
	border-top: solid 1px rgba(255,255,255,0.4);
	border-right: 0px;
    border-left: 0px;
}
@media screen and (max-width: 979px){
#menu ul li.parent ul li{
	border-top: solid 0px rgba(255,255,255,0.4);
}
}
#menu ul li a{
	width:100%;
	display:inline-block;
	text-decoration:none;
	float: left;
	color:#FFF;
	text-align:center;
	font-size:17px;
	padding: 15px 20px;
}

@media screen and (max-width: 1179px) {
#menu li ul li a{
	background-color: #217fcb;
}
}
#menu .content{
	padding:0;
}
@media screen and (max-width: 979px){
#menu ul li,
#menu ul li a{
	width:100%;
}
#menu ul li{
	border-right:none;
	border-bottom:solid 1px rgba(255,255,255,0.3) !important;
}
#menu ul li ul li{
	border-right:none;
	border-bottom:solid 0px rgba(255,255,255,0.4);
	border-top:solid 1px rgba(255,255,255,0.4) !important;
}
}

/*-------------------------------------------------------------- */
/* Titulos Seccion*/
/*-------------------------------------------------------------- */
.titulo_seccion,
.titulo_seccion h1{
	width:100%;
	float:left;
}
.titulo_seccion h1{
	padding: 35px 10px 25px 10px;
	font-size:23px !important;
	color:#666;
	margin-bottom:10px;
	text-align: center !important;
	position:relative;
	line-height:1.2em;
}
.titulo_seccion h1::after{
	content:"";
	width: 100px;
	height: 2px;
	position: absolute;
	display: inline-block;
	bottom: 0px;
	left: calc(50% - 50px);
}

/*-------------------------------------------------------------- */
/* Acceso destacados */
/*-------------------------------------------------------------- */
.accesos_destacados{
	padding-bottom:30px;
}
.accesos_destacados ul{
	width:100%;
	text-align:center;
	width: auto;
	float: none;
	display: inline-block;
}
.accesos_destacados ul li{
	width:180px;
	height:180px;
	display:inline-block;
	margin:8px;
	float:none;
}
.accesos_destacados ul li.parent{
	width:100%;
	height:auto;
	display:inline-block;
	margin:0px;
	padding: 0px;
}
.accesos_destacados ul li.parent .separador{
	display: none;
}
.accesos_destacados ul li a{
	width:100%;
	height:100%;
	border-radius:50%;
	display:table;
	color:#FFF;
	text-decoration:none;
	font-size:20px;
}
.accesos_destacados ul li a span{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	 padding:10px;
}


/*-------------------------------------------------------------- */
/* Formulario*/
/*-------------------------------------------------------------- */
.col.gris{
	padding: 20px !important;
	background-color: ghostwhite;
	border-radius: 10px;
}
@media screen and (max-width: 979px){
form .col{
	margin-bottom: 0px;
}
}
.cols .cols .col_2:first-child{
	padding-left: 0px;
}
.cols .cols .col_2:last-child{
	padding-right: 0px;
}
form .col.check{
	padding-left: 0px;
}
form .col_x3.col.check{
	/* padding-left: 10px; */
	width: auto;
	float: left;
	padding-right: 20px;
}
form .row .col_x3.col.check:last-child{
	padding-right: 0px;
}
form .col_x3.col.check.especial .container{
	margin: 0 0 5px 0 !important;
}
form .col.parent{
	font-size: 0px;
}
form .col_x1{
    width: 100%;	
}
form .col_x2{
	width: 50%;
}
form .row .col_x2{
	width: 50%;
}

form .col_x3{
	width: 33.3%;
}
.row .col.col_x3_rest,
.row .col.col_x3_rest:last-child{
	width: 66.7%;
	padding-left: 10px !important;
}
form .col_x4{
	width: 25%;
}
form .col_x5{
    width: 20%;
}
form .col_x6{
    width: 16.6%;
}
form .col_x7{
    width: 14.25%;	
}
form .col_x8{
	width: 12.5%;
}
form .col_x9{
	width: 11.11%;
}
form .col_x10{
	width: 10%;
}
form .col_x11{
    width:90.9%;
}
form .col_x12{
    width:8.33;
}
form .col_x1,
form .col_x2,
form .col_x3,
form .col_x4,
form .col_x5,
form .col_x6,
form .col_x7,
form .col_x8,
form .col_x9,
form .col_x10,
form .col_x11,
form .col_x12{
	padding:0 15px 0 0;
	margin-bottom:15px;
	text-align:center;
}
.row .col:last-child{
	padding: 0px !important;
}
form .parent .col_x2{
	padding:0 0px;
	margin-bottom:15px;
	text-align:center;
}
form .parent .col_x2:nth-child(1){
	width: 50%;
	padding-right: 7px !important

}
form .parent .col_x2:nth-child(2){
	width: 50%;
	padding-left: 7px !important
}
@media screen and (max-width: 600px) {
form .col_x1,
form .col_x2,
form .col_x3,
form .col_x4,
form .col_x5,
form .col_x6,
form .col_x7,
form .col_x8,
form .col_x9,
form .col_x10,
form .col_x11,
form .col_x12{
	width:100%;
}	
}
form .subtitulo_form{
	font-size:20px;
	text-align:left;
	border-bottom:solid 1px #CCC;
	margin-bottom:20px;
	padding:10px;
}
form label,
form input,
form select,
form textarea{
	font-size:15px !important;
	color:#000;
	text-align:left;
}
form label{
	margin-bottom:3px !important;
	color: #5bb100!important;
	float: left !important;
}
form label.auto{
	margin-right: 7px !important;
	width: auto !important;
}
form label.small{
	margin-top:3px;
	font-size: 14px;
	color: #666;
}
form fieldset{
	margin: 0 0 20px 0;
}
form input[type="text"],
form input[type="password"],
form input[type="file"],
form input[type="number"],
form select,
form textarea{
	background-color:#EEE;
	border:solid 1px #CCC;
	height:55px;
	font-size: 15px;
	padding: 5px !important;
	margin: 0 0 20px 0 !important;
	display: block;
	float: left !important;
}
form input[type="file"]{
	margin: 0 0 6px 0 !important;
    height: auto;
   border: 0px;
   background-color: #fff;
   padding: 5px 0 0 0px !important;
}
form input.requerido ,
form select.requerido ,
form textarea.requerido {
	border:solid 1px red;
}
form textarea{
	min-height: 100px;
	line-height: 20px;
}
form textarea.ckeditor{
	height: 200px !important;
}
form #editor{
	display: block !important;
	height: 150px !important;
	float: left;
}
form .check input,
form .check radio,
form .check label{
    vertical-align:middle;	
}
form .check.especial input{
	vertical-align: top !important;
}
form .check input,
form .check radio{
	width:20px;
	height:20px;
	margin-right:3px;
}
form .check *{
	float: left;
}
form .check label{
	width:calc(100% - 55px) !important;
	margin:3px 0 0 3px;
}

form .boton_formulario{
	max-width:initial;
	width: auto;
	text-align:center;
	border-radius:8px  8px;
    cursor:pointer;
    float:none;
    font-weight: 600;
    color:#FFF;
    font-size:20px;
    padding: 15px 20px 15px 20px;
    margin: 0 0 30px 0;
    height:auto;
    line-height: 20px;
	z-index: 100;
    box-shadow: 1px 3px 7px rgba(0,0,0,0.5);
}
.parent .boton_formulario{
    right: 10px;
    bottom: 17px;
    position: fixed;
}
form .boton_formulario.final,
.login form .boton_formulario{
    /* margin: 50px 0 0px 0; */
    position: relative;
	right: 0px;
	bottom: 0px;
    border-radius:8px;
	display: inline-block !important;
    box-shadow: 1px 3px 7px rgba(0,0,0,0.5);
}
.login form .boton_formulario{
     margin: 20px 0 0px 0;
}
form .boton_formulario:disabled,
form .boton_formulario:disabled:hover {
	background-color: #CCC;
	border:solid 1px #CCC;
	cursor: default;
}
form hr{
	height:1px;
	border:none;
	background-color:#ddd !important;
	margin:0px 0 30px 0;
}
.login form hr{
	background-color:#fff;
	display: none;
}
form img{
	max-width: 100%;
	height: auto;
	float: left;
}
form input[type="checkbox"]{
	width: 20px !important;
	height: 20px !important;
	display: inline-block;
	float: none;
	vertical-align: bottom;
}
.to_left{
	text-align: left !important;
}
/*-------------------------------------------------------------- */
/* Mensajes Alerta */
/*-------------------------------------------------------------- */
.alerta{
	width:100%;
	display:inline-block;
	margin-bottom:20px !important;
	border-radius:5px;
	padding:15px;
	line-height: 22px;
	color:#000;
	padding: 40px 20px !important;
}
.alerta.error{
	background-color:#F6B7B4;
}
.login .alerta{
	padding: 20px 20px !important;
	margin-top: 15px;
	margin-bottom: 0px !important;
	text-align: center;
	font-size: 16px !important;
    line-height: 20px !important;
}
/*-------------------------------------------------------------- */
/* Login*/
/*-------------------------------------------------------------- */
.login{
	height: 100vh;
	background-image: url(../../images/ejemplo_1.jpg);
	background-size:cover;
	background-position: center center;
	display: grid;
	place-content: center;
}
.login::after{
	content:"";
	width: 100%;
	height: 100vh;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px; 
	z-index: 0;
	background-color: #f3f3f3de;
}
.login .col_3{
	display:inline-block;
	width:100%;
    max-width:320px;
    z-index: 5;
	background-color:#FFF;
	margin:auto;
	float:none;
	position: relative;
	text-align:center;
	padding:20px 20px 35px 20px !important;
	border-radius:10px;
	box-shadow: 0 0 10px rgba(0,0,0,1);
}
@media screen and (max-width: 400px) {
.login{
    max-width:auto;
	border-radius:0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding:20px 0px;
	margin:20px 0;
}    	
}
.login .logo{
	width:100%;
	text-align:center !important;
	float:none;
	margin:auto;
}
.login .logo img{
    margin:auto !important;
	float:none !important;
	display: inline-block !important;
	left: initial !important;
	position: relative;
	max-width: 100%;
	height: auto;
}
.login .col_3{
		background-color: #000;
}
.login .col_3 h1{
	text-align: center;
	font-size: 23px !important;
	color: #fff;
	margin: 0 0 30px 0;
}
.login form .fila{
	margin-bottom: 0px;
}
.login form input{
	margin: 0 0 12px 0 !important;
	border: 0px;
}
.login form input.btn{
	margin: 20px 0 0px 0 !important;
}
.login form input.btn{
	background-color: #F2AE51!important;
	color: #fff !important;
}
.login form input.btn:hover{
	background-color: #666 !important;
	color: #fff !important;
}
.login input[type="password"]{
	margin-bottom: 10px !important;
}
.login .tabla{
	height: calc(100% - 75px);
}
/*--------------------------------------------------------------*/
/* Acciones listado */
/*--------------------------------------------------------------*/
.acciones{
	margin: 0 0 40px 0 !important;
}
.acciones .cols{
	width:100%;
	text-align:center;
	max-width: 1180px !important;
}
.acciones .cols .col_1{
	width:100%;
	text-align:center;
	padding:20px;
	max-width: 1180px !important;
	margin-bottom:0px;
	position:relative;
	background-color: #efefef;
}
.acciones::after{
	content:"";
	width: 300px;
	height: 1px;

	position: absolute;
	display: inline-block;
	bottom: 0px;
	left: calc(50% - 150px);
	/*background-color:#CCC;*/
}
.acciones .btn_admin_anadir,
.acciones .btn_admin_atras{
    display:inline-block;
    width:50px;
    height:50px;
    color:#FFF;
    border-radius:50%;
    text-indent:-5000px;
    margin:20px;
    background-repeat: no-repeat;
	background-position: center center;
}
.acciones .btn_admin_anadir{
    background-image:url("../imgs/btn-admin-anadir.svg");
    background-size:25px; 	
}
.acciones .btn_admin_atras{
    background-image:url("../imgs/btn-admin-atras.svg");
    background-size:25px;   
}


/*-------------------------------------------------------------- */
/* Dashboard: Tabla Filtrable */
/*-------------------------------------------------------------- */
.tabla_filtrable{

	width:100%;
}
.tabla_filtrable tr{
	border-top:solid 1px #DDD;
	background-color:#FFF;
}
@media screen and (max-width: 979px) {
.tabla_filtrable tr{
    margin-bottom:15px;	
}
.tabla_filtrable tbody tr{

	width:100%;
	display:inline-block;
	border-top:none;
	padding:18px;
	background-color:#EEE;
}
}
.tabla_filtrable thead tr.encabezado{
	border-top:none;
}
@media screen and (max-width: 979px) {
.tabla_filtrable thead tr.encabezado{
	display:none;
}
}
.tabla_filtrable th,
.tabla_filtrable td{
	text-align:left;
	padding:20px 10px;
	vertical-align:top;
	font-size:14px;
	color:#333;
}
.tabla_filtrable td.large{
	width: 35% !important;
}
.tabla_filtrable td img{
	max-width: 150px !important;
}
.tabla_filtrable.vallas td:nth-child(7){
	/*width: 8% !important;*/
}
.tabla_filtrable td:last-child{
	width: 12% !important;
}
@media screen and (max-width: 979px) {

.tabla_filtrable th,
.tabla_filtrable td,
.tabla_filtrable td.large,
.tabla_filtrable td:last-child{
	display:inline-block;
	width:100% !important;
	padding:3px 0px;
}
}
.tabla_filtrable th{
	text-transform:uppercase;
	padding:10px;
}
.tabla_filtrable th,
.tabla_filtrable th a{
	font-weight:bold;
}
.tabla_filtrable td img{
	max-width: 100%;
	float: left;
	height: 50px;
	width: auto;
}
.tabla_filtrable.maxima td img{
	max-width: 600px;
	height: auto;
}
.tabla_filtrable td span{
	display:none;
	font-size:1em;
	color:#000;
	font-weight:bold;
}
.tabla_filtrable td.capital{
	text-transform: capitalize !important;
}
@media screen and (max-width: 979px) {
.tabla_filtrable td span{
	display:inline-block;
	margin-right:5px;
}
}
.tabla_filtrable thead tr:nth-child(2){
	width:100%;
	padding:0px;
	border:none;
}
.tabla_filtrable thead tr:nth-child(2) th{
	padding:0 !important;
}
.tabla_filtrable thead tr:nth-child(2) input{
	height:35px;
	width:100%;
	margin: 5px 0 20px 0px;
	background-color:#EEE;
	border:solid 1px #CCC;
	font-size:16px;
	font-weight:normal;
	color:#000;
}
.tabla_filtrable tfoot tr{
	width:100%;
}
.tabla_filtrable tfoot tr td{
	text-align:center;
	padding:15px 0px;
}
.tabla_filtrable tfoot tr td a{
	display:inline-block;
	background-color:#DDD;
	color:#000;
	padding:10px;
	font-size:12px;
	text-decoration:none;
	border-radius:50%;
	width:30px;
	height:30px;
	margin:5px !important;
}
.tabla_filtrable tfoot tr td a:hover{
	color:#FFF;
}
.tabla_filtrable tfoot tr td a.active{
	background-color:#000;
	color:#FFF;
	cursor:default !important;
}
.tabla_filtrable .btn_admin_editar,
.tabla_filtrable .btn_admin_eliminar,
.tabla_filtrable .btn_tabla_eliminar,
.item_actions a{
    display:inline-block;
    width:35px;
    height:35px;
    color:#FFF;
    border-radius:50%;
    text-indent:-5000px;
    float:right;
    margin-left:5px;
    background-repeat: no-repeat;
	background-position: center center;
}
.tabla_filtrable .btn_admin_editar,
.item_actions .btn_admin_editar{
    background-image:url("../imgs/btn-admin-editar.svg");
    background-size:18px; 	
}
.tabla_filtrable .btn_tabla_eliminar,
.tabla_filtrable .btn_admin_eliminar,
.item_actions .btn_admin_eliminar,
.item_actions .btn_tabla_eliminar{
    background-image:url("../imgs/btn-admin-eliminar.svg");
    background-size:17px;
    margin-bottom: 5px;   

}
.item_actions{
	position: absolute;
	bottom: 0px;
	right: 0px;
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	z-index: 2;
	padding: 10px;
}
.item_actions.simple{
	background-color: rgba(255,255,255,0);
	position: relative;
	float: left;
	width: 100%;
	height: auto !important;
	margin-top: 11px;
	padding-left: 0px;
	display: inline-block;
}
@media screen and (max-width: 979px) {
.gris .item_actions.simple{
	text-align: center !important;
	padding: 10px 0px 0 0;
}
.gris .item_actions.simple *{
	float: none;
	magin: 0 10px !important;
}
}
.videos .item_actions{
	background-color: rgba(0,0,0,1);
}
.item_actions p{
	color: #fff;
	margin: 0 0 5px 0;
	-o-width: calc(100% - 80px);
	-moz-width: calc(100% - 80px);
	-webkit-width: calc(100% - 80px);
	width: calc(100% - 80px);
	float: right;
	text-align: right;
}


.item_actions a{
	background-color: #999 !important;
	height: 20px !important;
	width: 20px !important;
	float: left;
	margin: 0 5px 0 0;
	padding: 16px !important;
}
.item_actions a:hover{
	background-color: #0f206c !important;
}
/*============================----- */
/* #galeria*/
/*============================----- */
.galeria{
	height: auto;
	position: relative;
	z-index: 1;
	background-image: none !Important;
	padding: 0px 0;
	overflow:hidden !Important;
}
.galeria ul{
	text-align: center;
	font-size: 0px;
	margin: 0 0 50px 0;
}
.galeria ul li{
	font-size: initial;
	width: 24%;
	height:150px;
	float: none;
	position: relative;
	display: inline-block;
	vertical-align: top;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 4px 8px 4px;
	max-width: 300px;
}
@media screen and (max-width: 979px) {
.galeria ul li{
	width: 100%;
}
}
.simple.galeria ul li{
	background-size: auto 100%;
	background-position: top center;
}
.galeria.videos ul li{
	width: 48%;
	height:auto !important;;
}
.galeria.videos ul li{
	height:auto;
}

.galeria ul li a{
	font-size: initial;
	width: 100%;
	height: 150px;
	float: left;
	display: block;
	position: relative;
	padding: 20px;
	text-decoration: none;
}
.galeria ul li a span{
	text-decoration: none;
	color: #fff !important;
	position: absolute;
	z-index: 3;
	bottom: 20px;
	right: 20px;
	font-size: 14px;
}
/*============================----- */
/* .contiene_video */
/*============================----- */
.contiene_video {


	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.contiene_video p {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0px;
	height: 0;
	z-index: 1;
	margin: 0 0 0 0px;
	overflow: hidden;
}
.contiene_video p iframe,
.contiene_video p object,
.contiene_video p embed {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: 0px;
	z-index: 1;
}

/*============================*/
.nombre_archivo{
	margin: 5px 0 10px 0;
	font-size: 18px;
	color: #333;
	text-align: left;
}
#AnadirCampos{
	font-size: 18px;
	float:none;
	display: grid;
	place-content: center;
	margin: auto;
	margin-bottom: 50px;
	text-decoration: none;
	color: #fff;
	width: 160px;
	padding: 0px 0 0 0;
	height: 160px;
	border-radius: 100%;
	background-color: #000;
}
#AnadirCampos:hover{
	background-color: #333;
}
/*============================*/

.grupo_campos{
	position: relative;
	float: left;
	width: 100%;
}

.remover{
	background-image: url(../imgs/icon_delete.png);
	text-indent: -9999px;

	position: absolute;
	right: 0px;
	top: -15px;
	background-position: center center;
	background-size: 25px auto;
	background-repeat: no-repeat;
	width: 45px;
	height: 45px;
	z-index: 5;
	background-color: #fff;
	border: solid 1px #ccc;
	border-radius: 100%;
}
/*============================*/
.swal2-icon-text{
	line-height: 80px;
}
.swal2-icon.swal2-warning {
    border-color: #f00 !important;
    color: #f00 !important;
}
/*============================*/
/*============================*/
.documentos{
	text-align: center;
	padding: 0px 0 10px 0;
}
@media screen and (max-width: 979px){
.documentos{
	text-align: center;
	padding: 50px 10px 10px 10px;
}

}
.documentos ul{
	text-align: center;
	font-size: 0px;
	margin: 0 0 20px 0;
}
.documentos ul li{
	font-size: initial;
	width: 48%;
	float: none;
	margin: 0 1% 20px 1%;
	display: inline-block;
	vertical-align: top;
	position: relative;
	min-height: 132px;
	border: solid 1px #ccc;
	border-radius: 0px 0px 0 0;
	background-image: url(../imgs/icono_descargas.svg);
	background-repeat: no-repeat;
	background-position: left 15px top 12px;
	background-size: auto 50px;
}
@media screen and (max-width: 979px){
.documentos ul li{
	font-size: initial;
	width: 100%;
	float: left;
	margin: 0 0% 0px 0%;
}
}
.documentos ul li .nombre{
	padding: 0 0 0 92px;
	float: left;
	display: inline-block;
	vertical-align: middle;
	font-family: open_light;
	width: 100%;
	line-height: 26px;
	margin: 0 0 15px 0;
	text-decoration: none;
	color: #333;
	font-size: 23px;
}
.documentos ul li .nombre div{
	font-size: 1em;
	display: table;
	float: left;
	height: 80px;
	vertical-align: middle;
}
.documentos ul li .nombre span{
	font-size: 1em;
	display: table-cell;
	vertical-align: middle;
}
/*============================*/
.spaceless{
	padding: 0px !important;
	margin: 0px !important;
}
/*============================*/
.adminpage{
	margin-bottom: 50px !important;
}
.adminpage .cols{
	max-width: 1180px;
}
.adminpage .col_2_3{
	padding-right:35px;
}
.adminpage .col_2_3.pad_left{
	padding-right:0px;
	padding-left: 35px;
}
.adminpage hr:after{
	display: none;
}
.admin_footer{
	padding: 0px 0 20px 0 !important;
}
.admin_footer .cols{
	max-width: 1180px;
}
.admin_footer p{
	font-size: 11px;
	color: #999;
}
.admin_footer p a{
	color: #999;
	font-size: 1em;
	text-decoration: none;
}
.admin_footer p a:hover{
	color: #000;
}
.login .admin_footer hr{
	border: 0px;
}
/*============================*/
.ck-editor{
	min-height: 300px !important;
}
.ck-editor p,
.ck-editor ul,
.ck-editor h1,
.ck-editor h2,
.ck-editor h3,
.ck-editor h4,
.ck-editor h5,
.ck-editor h6{
	padding: 0 10px !important;
}
.cke_chrome{
	border: 0px !important;
}
.cke_contents{
	border: solid 1px #ccc !important;
	border-top: 0px !important;
}
/*============================*/
.altura_minima{
	min-height: calc(100vh - 425px);
}
.altura_minima_2{
	min-height: calc(100vh - 294px);
}
.altura_minima_3{
	min-height: calc(100vh - 299px);
}
/*============================*/
#fr-logo{
	display: none;
}
.fr-second-toolbar{
	display: none;
}
.fr-box{
	float: left;
	width: 100%;
	border-radius: 0px !important;
}
.fr-toolbar.fr-top{
	border-radius: 0px !important;
}
.fr-box.fr-basic .fr-wrapper{
	min-height: 300px;
}
/*============================*/
.adminpage .col_1_3{
	padding: 0px;
}
.adminpage .col_2_3{
	text-align: left;
	padding: 0 0 0 40px;
}
/*============================*/
.swal2-title{
	align-items: center !important;
	text-align: center;
	width: 100% !important;
	display: inline-block !important;
}
.swal2-popup .swal2-styled.swal2-confirm{
	background-color: #F4B866 !important;
}
/*============================*/
.videos .cols .col_2{
	margin: 0 0 25px;
}
.videos .cols .col_2:nth-child(1n){
	padding-right: 10px;
	padding-left: 10px;
}

.videos .cols .col_2:nth-child(2n){
	padding-left: 10px;
	padding-right: 10px;
}
/*============================*/
/*============================*/
/*============================*/
/*============================*/
/*============================*/
/*============================*/
/*============================*/
/*============================*/
/*============================*/
/*============================*/
/*============================*/